<% provide(:title, 'Download') %>

<div class="col-md-8 col-md-offset-2">

  <h1>Download</h1>
  <hr>

  <%= button_to 'send_data', download_data_path, method: :get, class: 'btn btn-info' %>


</div>
